:root {
  --bg: #4949497F;
  --grid: #adadad;
  --highlight: #ddbf88;
  --search: #310202;
  --size: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  color: white;
}

ul, li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(119, 169, 185);
}

.App {
  background-color: var(--bg);
  min-height: 100vh;
  width: 100vw;
  position: relative;

  background-image: url('./images/carbon_fibre_bg.webp');
  background-blend-mode: multiply;
}

.help-bar {
  padding: 1em;
}

.title {
  text-align: center;
  font-family: 'Cinzel', serif;
}

.logo {
  width: 40%;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// search modal

.movie-search-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;

  .movie-search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: #007BFF;
      box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    }
  }

  .movie-search-results {
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: var(--bg);

    .movie-search-result-item {
      padding: 10px;
      border: 1px solid #ddd;
      margin-bottom: 5px;
      cursor: pointer;
      border-radius: 5px;
      background-color: var(--bg);
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #575757;
      }
    }
  }
}


.help-modal {
  margin: auto;
  margin-top: 2rem;
  border-radius: 30px;
  padding: 1em;
  width: 70%;
  max-width: 30rem;
  background-color: rgb(58, 58, 58);
  position: relative;

  & h2 {
    text-align: center;
    padding: 5px 0 5px 0;
  } 
}

.selected-movies {
  margin-top: 20px;

  .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;

    .accordion-label {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: #005741;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.2s ease;

      .remove-button {
        right: 5px;
        background: red;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }

      &:hover {
        background-color: #008a67;
      }
    }

    .accordion-content {
      padding: 10px;
      background-color: #002d23;
      border-top: 1px solid #ddd;
    }
  }

  .accordion-item.open {
    .accordion-label {
      background-color: #005741;
    }
  }
}

.export-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #005741;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #008a67;
  }
}

.help-button {
  position: absolute;
  right: 1em;
  top: 1em;
  border: solid 2px white;
  border-radius: 400px;
  padding: 5px;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 600px){
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    width: 75vw;
  }
  .empty-item {
    display: none;
  }
}